{% extends 'base.html' %}

{% block content %}
<!-- header card -->
<div class="card grey lighten-3" style="margin-top:2rem; margin-bottom:3rem; margin-left:2rem; margin-right:2rem;">
  <div class="card-content">
    <h3>About thehappymidwife</h3>
    <h6 class="grey-text text-darken-1 card-subtitle">A brief introduction and background on who I am</h6>
  </div>
</div>
<div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 

    <p>Registered Midwife<br>
    Professional Midwifery Advocate<br>
    Midwifery Ambassador<br>
    Florence Nightingale Scholar</p>
</div>
{% endblock %}
