{% extends 'base.html' %}

{% block content %}
<!-- header card -->
<div class="card grey lighten-3" style="margin-top:2rem; margin-bottom:3rem; margin-left:2rem; margin-right:2rem;">
  <div class="card-content">
    <h3>Get in touch</h3>
    <h6 class="grey-text text-darken-1 card-subtitle">If you have something to say, feel free to contact us at any of these accounts</h6>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12 m4">

      <div class="card small center-align">
        <div class="card-content">
          <img width="100px" src="https://storage.googleapis.com/thehappymidwife.appspot.com/twitter_logo.png"
            alt="twitter">
          <h5 style="font-family:'Roboto Mono', monospace; margin-top:2.25rem;" class="grey-text text-darken-3">
            @sarahcoiffait</h5>
        </div>
        <div class="card-action">
          <a href="https://twitter.com/sarahcoiffait"
            class="btn waves-effect waves-light yellow lighten-2 black-text">View profile</a>
        </div>
      </div>

    </div>
    <div class="col s12 m4">

      <div class="card small center-align">
        <div class="card-content">
          <img width="100px" src="https://storage.googleapis.com/thehappymidwife.appspot.com/instagram_logo.png"
            alt="instagram">
          <h5 style="font-family:'Roboto Mono', monospace;" class="grey-text text-darken-3">the_happy_midwife</h5>
        </div>
        <div class="card-action">
          <a href="https://instagram.com/the_happy_midwife"
            class="btn waves-effect waves-light yellow lighten-2 black-text">View profile</a>
        </div>
      </div>

    </div>
    <div class="col s12 m4">

      <div class="card small center-align">
        <div class="card-content">
          <img width="100px" src="https://storage.googleapis.com/thehappymidwife.appspot.com/email_logo.png" alt="email"
            style="margin-top:1.5rem;">
          <h5 style="font-family:'Roboto Mono', monospace;" class="grey-text text-darken-3">sarahcoiffait</h5>
          <h6 style="font-family:'Roboto Mono', monospace;" class="grey-text text-darken-3">@yahoo.com</h6>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}