{% extends 'base.html' %}

{% block content %}
<!-- header card -->
<div class="card grey lighten-3" style="margin-top:2rem; margin-bottom:3rem; margin-left:2rem; margin-right:2rem;">
  <div class="card-content">
    <h3>Interesting links</h3>
    <h6 class="grey-text text-darken-1 card-subtitle">Relevant organisations and related reading</h6>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col s12 m4 l4">
      <div class="card small center-align">
        <div class="card-content">
          <img src="https://storage.googleapis.com/thehappymidwife.appspot.com/appreciatingpeople.png" height="80"
            alt="appreciating-people">
          <h5>Appreciative Enquiry</h5>
        </div>
        <div class="card-action">
          <a href="https://www.appreciatingpeople.co.uk/"
            class="btn waves-effect waves-light yellow lighten-2 black-text">Visit website</a>
        </div>
      </div>
    </div>

    <div class="col s12 m4 l4">
      <div class="card small center-align">
        <div class="card-content">
          <img src="https://storage.googleapis.com/thehappymidwife.appspot.com/learningfromexcellence.png" height="80"
            alt="learning from excellence">
          <h5>Learning from Excellence</h5>
        </div>
        <div class="card-action">
          <a href="https://www.learningfromexcellence.com/"
            class="btn waves-effect waves-light yellow lighten-2 black-text">Visit website</a>
        </div>
      </div>
    </div>

    <div class="col s12 m4 l4">
      <div class="card small center-align">
        <div class="card-content">
          <img src="https://storage.googleapis.com/thehappymidwife.appspot.com/iolanthe.png" height="80" alt="iolanthe">
          <h5>Iolanthe Midwifery Trust</h5>
        </div>
        <div class="card-action">
          <a href="https://www.iolanthe.org/" class="btn waves-effect waves-light yellow lighten-2 black-text">Visit
            website</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6 l6">
      <div class="card small center-align">
        <div class="card-content">
          <img src="https://storage.googleapis.com/thehappymidwife.appspot.com/knov.png" height="80" alt="KNOV">
          <h5>Koninklijke Nederlandse Organisatie van Verloskundigen</h5>
        </div>
        <div class="card-action">
          <a href="https://www.knov.nl/samenwerken/tekstpagina/489-2/midwifery-in-the-netherlands/hoofdstuk/463/midwifery-in-the-netherlands/"
            class="btn waves-effect waves-light yellow lighten-2 black-text">Visit website</a>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l6">
      <div class="card small center-align">
        <div class="card-content">
          <img src="https://storage.googleapis.com/thehappymidwife.appspot.com/florencenightingale.png" height="80"
            alt="florence nightingale foundation">
          <h5>The Florence Nightingale Foundation</h5>
        </div>
        <div class="card-action">
          <a href="https://florence-nightingale-foundation.org.uk/"
            class="btn waves-effect waves-light yellow lighten-2 black-text">Visit website</a>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}